{% extends "layout.html" %}


{% block content %}

    <section id="home">
        <picture>
            <source media="(max-width:768px)" srcset="/static/images/background_home_m.webp">
            <source media="(min-width:500px)" srcset="/static/images/background_home.webp">
            <img  loading="lazy" decoding="async" src="/static/images/background_home.webp" alt="Background image">
        
            <div class="dark-overlay"></div>
            <div class="dark-overlay-2"></div>
            
        </picture>
    <div class="container">
        <img src="/static/logo.webp" alt="" id="logo" width="140px" height="140px">
        <nav>
            <ul>
                <li>
                    <a href="/#story">Story / </a>
                </li>
                <li><a href="/favourites">Favourites / </a></li>
                <li><a href="/#end">End</a></li>
            </ul>
        </nav>
        <p style="font-family: 'Great Vibes'; color:var(--primary-color); margin-top:5px; margin-bottom:-22px;font-size:calc(var(--header-font-size) - .5vw);animation: colorShift 4s ease-in-out infinite;">Welcome To Farouk Bakeries</p>
        <p style="font-family: 'Playfair Display'; color:white;">We Are Excited To Cook <br>For You Today</p>
        
    </div>
    <img style="position: absolute;bottom:20%;z-index:4;" width="50px" height="50px" src="/static/images/mouse.svg" alt="">
    <img style="position: absolute;bottom:20%;z-index:4; right:60%; transform:rotate(180deg)" width="50px" height="50px" src="/static/images/arrow.svg" alt="">
    
    </section>

    <section id="story">
        <div class="story-container">
            <div class="avatars">
                <img src="/static/images/girl.svg" alt="" width="210px" height="210px">
                <img src="/static/images/boy.svg" alt="" width="210px" height="210px">
                <img src="/static/images/bread.svg" alt="" width="140px" height="140px">
                <p style="font-size: 60px !important" id="discover">Our Story</p>

            </div>
                <p style="font-size: calc(var(--font-size) - 5px); font-family:sans-serif;text-align:center;font-weight:200">Made by Yassin, <br> for my love of web development, <br> and my love for <br><span style="font-family: 'Great Vibes'; color:var(--primary-color); animation-name:colorShift; animation-duration:4s;animation-timing-function:ease-in-out;animation-iteration-count:infinite">You</span>     .</p>
        </div>

        <div class="pfp">
          
            <img src="/static/images/mariem.webp" width="420px" height="420px" alt="yassin pfp">

          
            <img src="/static/images/yassin.webp" width="420px" height="420px" alt="mariem pfp">

          
            

        </div>
    </section>

    <section id="end">
        <picture>
            <source media="(max-width:768px)" srcset="/static/images/donuts_m.webp">
            <source media="(min-width:500px)" srcset="/static/images/donuts.webp">
            <img  loading="lazy" decoding="async" src="/static/images/background_home.webp" alt="Background image">
        
            <div class="dark-overlay"></div>
            <div class="dark-overlay-2"></div>
            
        </picture>
        <img src="/static/logo.webp" alt="" id="logo" width="160px" height="160px">
        <nav>
            <ul>
                <li>
                    <a href="/#story">Story / </a>
                </li>
                <li><a href="/favourites">Favourites / </a></li>
                <li><a href="/#end">End</a></li>
            </ul>
        </nav>
        <p class="end-text">Designed, Developed, and Maintained By the one and only.</p>
        <p class="end-text" style="color: rgba(245, 245, 245, 0.337);font-family:'Poppins';font-size:10px">Total Time Spent Developing: 23 hours, 26 minutes.</p>
        <button id="end-button"></button>
        <img src="/static/images/chick.svg" id="end-chick" width="350px" height="350px" alt="chick image">
        

    </section>

<script>
    const endSection = document.getElementById("end")
    const endButton = document.getElementById("end-button");
   

    function createHeart(e) {
        const heart = document.createElement('div'); // Create a new div for the heart
        heart.innerText = '❤️'; // Set the heart symbol
        heart.classList.add('heart'); // Add the heart class for styling

        // Set random position near the button
        heart.style.left = `${e.clientX}px`; // Use the x position of the mouse click
        heart.style.top = `${e.clientY}px`;  // Use the y position of the mouse click
         // Add the heart to the body
        endSection.appendChild(heart)
        // Remove the heart after 2 seconds to clean up the DOM
       
        console.log("Done.")
    }
    endButton.addEventListener("click",(e) => {
        console.log("I got clicked!!");
        createHeart(e)
    })
   
</script>
  
{% endblock %}