{% extends "layout.html" %}


{% block content %}
    <section id="home">
        <picture>
            <source media="(max-width:768px)" srcset="/static/images/background_home_m.webp">
            <source media="(min-width:500px)" srcset="/static/images/background_home.webp">
            <img  loading="lazy" decoding="async" src="/static/images/background_home.webp" alt="Background image">
        
            <div class="dark-overlay"></div>
            <div class="dark-overlay-2"></div>
            
        </picture>
    <div class="container">
        <img src="/static/logo.webp" alt="" id="logo" width="140px" height="140px">
        <p style="font-family: 'Great Vibes'; color:var(--primary-color); margin-top:5px; margin-bottom:-22px;font-size:calc(var(--header-font-size) - .5vw)">Welcome To Farouk Bakeries</p>
        <p style="font-family: 'Playfair Display';">We Are Excited To Cook <br>For You Today</p>
        
    </div>
    <img style="position: absolute;bottom:20%;z-index:4;" width="50px" height="50px" src="/static/images/mouse.svg" alt="">

    </section>

    <section id="story">
        <div class="story-container">
            <div class="avatars">
                <img src="/static/images/girl.svg" alt="" width="210px" height="210px">
                <img src="/static/images/boy.svg" alt="" width="210px" height="210px">
                <img src="/static/images/bread.svg" alt="" width="140px" height="140px">
                <p style="font-size: 60px !important" id="discover">Our Story</p>

            </div>
                <p style="font-size: calc(var(--font-size) - 5px); font-family:sans-serif;text-align:center;font-weight:200">Made by Yassin, <br> for my love of web development, <br> and my love for <br><span style="font-family: 'Great Vibes'; color:var(--primary-color); animation-name:colorShift; animation-duration:4s;animation-timing-function:ease-in-out;animation-iteration-count:infinite">Mariem</span>     .</p>
        </div>

        <div class="pfp">
          
            <img src="/static/images/mariem.webp" width="420px" height="420px" alt="yassin pfp">

          
            <img src="/static/images/yassin.webp" width="420px" height="420px" alt="mariem pfp">

          
            

        </div>
    </section>
  
{% endblock %}