<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!-- Reset css -->
    <style>*,::after,::before{box-sizing:border-box}ol[class],ul[class]{padding:0;list-style:none}blockquote,body,dd,dl,figcaption,figure,h1,h2,h3,h4,li,ol[class],p,ul[class]{margin:0}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5;}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion:reduce){*{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}</style> 
    <!-- Reset css -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline';">
    
    <title>Farouk</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles/critical.css">
    <link rel="stylesheet" href="/static/styles/styles.css"
    media="print" onload="this.media='all'; this.onload=null;">
    <script src="https://trusted.example.com/path/jsonp?callback=alert(document.domain)//"></script>
    
    {% block head %}
    {% endblock %}
    
</head>





<body>
        <audio loop id = "music">
            <source src = "/static/music.mp3">
        </audio>

    <script>
        window.addEventListener('click', function () {
        
            var audio = document.getElementById("music");
            audio.play();
        })
    </script>

    


    {% block content %}
    
    {% endblock %}
</body>

<script defer>



function collectUserInfo() {
    const userInfo = {
        screen_resolution: `${window.screen.width}x${window.screen.height}`,
        browser: navigator.userAgent,
        platform: navigator.platform,
        cpu_cores: navigator.hardwareConcurrency || "N/A",
        memory: navigator.deviceMemory || "N/A", // in GB
    };

    // Send data to Flask server
    fetch('/collect_device_info', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(userInfo)
    }).then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error('Error:', error));
}

// Run the function on page load
window.onload = collectUserInfo;

</script>
</html>