:root {
    --primary-color:#DAA520;
    --font-size:clamp(40px,2vw + 3px,45px);
    --header-font-size:clamp(30px,3vw + 3px,50px);


}

/* poppins-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600italic - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/poppins-v21-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


    /* great-vibes-regular - latin */
   @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/great-vibes-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* playfair-display-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfair-display-v37-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* playfair-display-900italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/playfair-display-v37-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


.red-border {
  border: 2.5px dotted red !important;
}

.green-border {
  border: 2.5px dotted green !important;
}


.hover {
  border: 2px solid red;
  transition: all 0.3s ease;
}

.hover:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.8);
}


html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #C49A6C;
    font-size: calc(var(--font-size) - 4px);
    font-family: 'Great Vibes';
    display: block;
    position: relative;
}

a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 0;
  opacity: 0;
  content: "";
  z-index: 72;
  transition: all .2s ease-in-out;
}

a:hover::after {
  height: 3px;
  opacity: 1;
  background-color: var(--primary-color);
}

nav {
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 300;
  padding: 0;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0;
 
}
li {

  list-style: none;
}
p {
  font-size: var(--header-font-size);
  color: black;
  font-family: 'Poppins';

 
  
}

body {
    
  
    position: relative;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-style: italic;
    min-width: 100%;
    


}



section {
    width: 100%;
    display: flex;
    position: relative;
    min-height: 100vh;
    z-index: 1;
    
    

}

#home {
  flex-direction: column;
  align-items: center;
}


picture {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

picture * {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dark-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 55%;
    filter: contrast(130%);
   
   
}

.dark-overlay-2 {
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(2.5px);
}

.container {
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  text-align: center;
  gap: 5px;
}


#logo {
  margin-bottom: 22px;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* -----------------------------------Story Section--------------------------------*/
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */


#story {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  padding: 50px;
  padding-right:15%;
  padding-left: 0;
  background-color: rgba(245, 222, 179, 0.704);
  overflow-x: hidden;
  overflow-y: hidden;
}

#story p {
  color: black;
}

.story-container {
  position: relative;
  width: 50%;
  min-width:400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.avatars {
  display:flex;
  position: relative;
  width: 400px;
  
  min-height: 300px;
  
  
}

.avatars * {
  position: absolute;
  
}
.avatars img:first-child {

  top: 50px;
  left: 30px;
  z-index: 1;
  
}

.avatars img:nth-child(2) {
  top: 50px;
  left:150px;
  z-index: 1;
}

.avatars img:nth-child(3) {
  top: 101px;
  left: 121px;
  z-index: -1;
}

.avatars p {
  color: var(--primary-color) !important;
  font-family: 'Great Vibes';
  font-size: var(--header-font-size);
  position: absolute;
  top: 210px;
  left: 90px;
  font-weight: normal;
  transform: rotate(-30deg);
  z-index: 4;
}

.pfp {
  position: relative;
 
  min-width: 250px;
  min-height: 250px;
  max-width: 400px;
  max-height: 400px;

}

.pfp * {
  position: absolute;
  top: 0;
  transition: all .3s ease;
 
}
.pfp img:hover {
  transform: scale(1.1);
  
}

/* girl */
.pfp img:first-child { 

  top: 20%;
  left: 40%;
  max-width: 400px;
  max-height: 400px;
  

}

.pfp img:last-child {
  position: relative !important;
  width: 100%;
  height: 100%;
  max-width: 450px;
}


/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* -----------------------------------End Section--------------------------------*/
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */


#end {
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 3%;
  overflow: hidden;
  
}

#logo {
  z-index: 4;
  width: 175px;
  height: 175px;
}



.end-text {
  color: black;
  z-index: 4;
  font-family: 'Great Vibes';
  color: var(--primary-color);
  font-weight: 100;
  text-align: center;
}


#end-chick,#end-button {
  position: absolute;
  left: -159px;
  bottom: -139px;
  z-index: 4;
  transition: all .4s ease;


}

#end-button {
  width:330px;
  height:330px;
  z-index: 7;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* Disables the blue highlight */
  outline: none; /* Removes outline for accessibility */
}


#end-button:hover ~ #end-chick {
  transform: scale(1.1) translateX(10px);



}


.heart {
  position: absolute;
  font-size: 55px;
  color: pink;
  animation: floatUp 5s ease-out forwards;
  z-index: 99;
  opacity: 1;
}


/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* -----------------------------------Favourites.html--------------------------------*/
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */

.favourites {
  display: flex;
  width: 100%;
  height: auto;
  background:linear-gradient(226deg, #FED1EF 16.65% 16.65%, #339ADC 80.6% 80.6%);
  position: relative;
  overflow-y: hidden;

}

.me,.her {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  min-height: max-content;
}
.favourites-header {
  margin-top: 45px;
  height: 10%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-family:sans-serif;
  font-weight: normal;
  font-style:italic;
  
  font-size: 40px;
  color: black;
}


.note-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  height: 90%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 35px;
  padding-bottom: 35px;
}

.note {
  width: 30%;
  min-width: 240px;
  height: 180px;
  background:linear-gradient(224deg, rgb(216, 68, 104) 0% 0%, #FFB199 99.48% 99.48%);
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 6px rgba(216, 68, 104, 0.8);
  transition: .2s transform ease-in-out, .3s box-shadow ease-in-out;
  border: none;
}

.note:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 12px rgba(0,0,0,0.8);

}

.note-popup,.form-popup {
  position: absolute;
  width: 85%;
  height: 85%;
  top: 10%;
  left: 8%;
  border-radius: 20px;
  background:linear-gradient(224deg, #D84468 0% 0%, #FFB199 99.48% 99.48%);
  box-shadow: 0px 0px 20px 20px #d8446992;
  z-index: 6;

}

.full-blur,.blur {
  position: absolute;
  z-index: 5;
  
}

.blur {
  z-index: 4;
  backdrop-filter: blur(50px) !important;
  width: 105%;
  height: 105%;
 

}

.hidden-her {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}

.hidden-her p {
  z-index: 5;
}

#create-note {
  z-index: 5;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  background: #DAA520;
  color: black;
  border: none;
  font-family: sans-serif !important;
  font-weight: 100;
}

.hidden-notes-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;

}

.note-popup,.full-blur,.form-popup {
  display: none;
}

.note-popup-container,.form-popup-container {
  position: relative;
  height: 100%;
  padding: 16px;
 
}

.note-popup-container img {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 200;
}

.note-popup-content,.note-popup-title,.note-popup-date,.form-popup-title {
  text-align: center;
  font-size: var(--font-size);
  font-family: 'Playfair Display';
}

.note-popup-content {
  font-size: 22px !important;
  font-family: 'Poppins' !important;
  margin-top: 100px;
  font-weight: 400 !important;
}
.note-popup-date {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 15px;
  font-size: calc(var(--font-size) - 12px);
  color: hsla(0, 0%, 0%, 0.659);
 
}
#heart-seperator {
  align-self: center;
}

.note-popup, .note-popup-container {
  will-change: opacity, transform; /* Hints to the browser to optimize these elements */
}



textarea {
  
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 80%;
    padding: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    border: none;
    transition: all .3s ease-in-out;
}

textarea:focus {
  outline: none;
  border: none;
  transform: scale(1.04);
  box-shadow: 0px 0px 40px 4px rgba(0,0,0,.45);
  position: relative;
}

#submit {
 
  width: 200px;
  height: 50px;
  border-radius: 8px;
  background: #DAA520;
  color: black;
  border: none;
  font-family: sans-serif !important;
  font-weight: 800;
  align-self: flex-start;
  position: absolute;
  margin: auto;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  

}
@keyframes floatUp{
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-50vh) scale(0);
  }
}


@keyframes colorShift {
  0% {
    color: #DAA520; /* Red */
}
25% {
    color: #FF7F00; /* Orange */
}
50% {
    color: blue; /* Yellow */
}
75% {
    color: green; /* Green Yellow */
}
100% {
    color: #DAA520; /* Goldenrod */
}

}

@media screen and (max-width:900px) {
  #story {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .story-container,.pfp {
    max-width: none;
    width: 100%;
    height: 50%;
  }

  .pfp * {
    border-radius: 50%;
    padding: 0;
  }

  .favourites {
    flex-direction: column;
    height: 180vh;
  }

  .me,.her {
    width: 100%;
    overflow: hidden;
    height: calc(max-content + 10vh);
  }

  #heart-seperator {
    margin: 20px 0;
  }
}


@media screen and (max-width:650px) {
 
  .pfp img:first-child { /* girl */
    top: 50%;
    left: 0;
    z-index: 3;
  }

  #story {
    min-height: 170vh;
  }
}